/*
    Cloud One
*/

.bird_one {
    width: 105px;
    height: 87px;
    background-image: url('../img/bird.png');
    background-position: center;
    background-size: 105px 87px;
    position: relative;
    -webkit-animation: bird_one 50s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation: bird_one 50s infinite;
    animation-timing-function: linear;
		z-index: 2;
}
@-webkit-keyframes bird_one {
    0% {left: 110%;}
    100% {left: -20%;}
}
@keyframes bird_one {
    0% {left: 110%;}
    60% {transform: translateY(-50px);}
    100% {left: -20%;}
}

/*
    Cloud One
*/

.cloud_one {
    width: 350px;
    height: 112px;
    background-image: url('../img/cloud.png');
    background-position: center;
    background-size: 350px 112px;
    position: relative;
    -webkit-animation: cloud_one 50s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation: cloud_one 50s infinite;
    animation-timing-function: linear;
		z-index: 2;
}
@-webkit-keyframes cloud_one {
    0% {left: -20%;}
    100% {left: 110%;}
}
@keyframes cloud_one {
    0% {left: -20%;}
    60% {transform: translateY(-50px);}
    100% {left: 110%;}
}

/*
    Cloud Two
*/

.cloud_two {
  width: 350px;
  height: 112px;
  background-image: url('../img/cloud.png');
  background-position: center;
  background-size: 350px 112px;
  position: relative;
  -webkit-animation: cloud_two 40s infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
  animation: cloud_two 40s infinite;
  animation-timing-function: linear;
  z-index: 2;
}
@-webkit-keyframes cloud_two {
  0% {left: 100%;}
  100% {left: -20%;}
}
@keyframes cloud_two {
  0% {left: 100%;}
  70% {transform: translateY(-70px);}
  100% {left: -20%;}
}
