/*
    Typography -----------------------------------
*/

@font-face {
	font-family: 'Lazer84';
	src: url('../fonts/Lazer84-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lazer84-webfont.woff') format('woff'),
       url('../fonts/Lazer84-webfont.ttf') format('truetype'),
       url('../fonts/Lazer84-webfont.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'Exo Regular';
	src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/exo-regular-webfont.woff') format('woff'),
       url('../fonts/exo-regular-webfont.ttf') format('truetype'),
       url('../fonts/exo-regular-webfont.svg#svgFontName') format('svg');
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Exo Regular', sans-serif;
	color: #fff;
}

h1 {
	font-size: 72px;
}

p {
	font-family: 'Exo Regular', sans-serif;
	color: #333;
	font-size: 20px;
}

p.quote, p.quote-after {
	font-size: 60px;
	line-height: 0.4;
	margin-bottom: -5px;
	font-family: Arial, sans-serif;
	color: rgba(0,0,0,0.4)
}

p.quote-after {
float: right;
}

.navbar-brand {
	font-family: 'Lazer84', 'Lazer84', sans-serif;
}

.navbar-inverse .navbar-nav>li {
	font-family: 'Exo Regular', serif;
  text-transform: uppercase;
}

.fairy-text {
	color: #333;
	text-align: center;
	text-transform: uppercase;
}

hr {
	border-top: 1px solid #333;
}

/*
    Page/Story sections -----------------------------------
*/

#story {
	background: url('../img/castle.jpg');
	background-position: bottom;
	background-size: cover;
	z-index: 1;
}


.col-centered{
    float: none;
    margin: 0 auto;
		text-align: center;
}

#introduction {
	background-color: #333;
}

#part1 {
	z-index: 1;
	height: 700px;
	position: relative;
}
#part2 {
	z-index: 1;
	height: 700px;
	position: relative;
}
#part3 {
	z-index: 1;
	height: 700px;
	position: relative;
}
#part4 {
	z-index: 1;
	height: 700px;
	position: relative;
}

.text-div {
	background-color: #fff;
	background-size: 300px 500px;
	width: 350px;
	outline: 10px solid rgba(255,255,255,0.5);
	padding: 10px;
	margin: auto;
	margin-top: 30px;
	z-index: 3;
	position: relative;
}

.intro-text {
	background-color: #fff;
	background-size: 300px 500px;
	outline: 10px solid rgba(255,255,255,0.5);
	padding: 10px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
